@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    @include hideScrollbar;
    @include mobile {
      display: none;
    }
    position: sticky;
    top: 7rem;
    height: calc(100vh - 7rem);
    overflow: scroll;
    background-color: themed("bgSoft");
    color: themed("textColor");

    .container {
      padding: 2rem;

      .user {
        box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -webkit-box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -moz-box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        margin-bottom: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        background-color: themed("bg");
        cursor: pointer;
        .user-container {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 1rem;
          color: themed("textColor");
          font-weight: bold;
          font-size: 1.8rem;
        }

        &:hover {
          background: themed("hvr");
          color: darkblue;
        }

        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 1.5rem;
        }
      }

      .menu {
        padding: 1rem 0rem;
        overflow: hidden;
        box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -webkit-box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -moz-box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        background-color: themed("bg");
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.5rem;
        .heading {
          font-size: 1.2rem;
          margin: 1rem 2rem 0rem 1.5rem;
        }
        .item {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.8rem 2rem;
          cursor: pointer;
          text-decoration: none;
          color: themed("textColor");

          &:hover {
            background: themed("hvr");
            color: darkblue;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
          }
          img {
            width: 3rem;
          }
          span {
           font-size: 1.5rem;
          }
        }
      }

      &::-webkit-scrollbar {
        scrollbar-width: none;
        display: none;
      }
    }
  }
}
