@import "../../style.scss";

* {
  margin: 0%;
}

::-moz-placeholder {
  color: rgb(60, 32, 161);
}
::-webkit-input-placeholder {
  color: rgb(60, 32, 161);
}

.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1616;
  .card {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 1rem;
    min-height: 55rem;
    overflow: hidden;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    .left {
      flex: 1;
      background-color:white;
      background-size: cover;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      color: white;
      justify-content: center;
        border-left: .1rem solid gray;
      ._logo {
        text-decoration: none;
        letter-spacing: 0.2rem;
        font-weight: bold;
        font-size: 2rem;
        color: #0866ff;
        font-style: italic;
        
        span {
          background-color: #0866ff;
          color: white;
          padding: 0.2rem 0.8rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          font-size: 2.8rem;
        }
      }

      p {
        padding-bottom: 10rem;
         color:#938eef;
         font-size: 1.3rem;
      }

      span {
        font-size: 1.4rem;
        color:#938eef;
      }

      button {
        width: 15rem;
        padding: 1rem;
        border: none;
         background-color: #938eef;
        color:white;
        font-weight: bold;
        cursor: pointer;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
}
    }

    .right {
      flex: 1;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
    

      h1 {
        color: rgb(60, 32, 161);
        font-size: 4rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        input {
          border: none;
          color: #555;
          border-bottom: 0.1rem solid lightgray;
          padding: 1rem 1rem;
          outline: none;
          background-color: transparent;
        }

        button {
          width: 15rem;
          padding: 1rem;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
          border-radius: .5rem;
          -webkit-border-radius: .5rem;
          -moz-border-radius: .5rem;
          -ms-border-radius: .5rem;
          -o-border-radius: .5rem;
}
      }
    }
  }
}
