@import "../../style.scss";

.chats {
  @include themify($themes) {
    z-index: 999;
    background-color: themed("bg");
    color: themed("textColor");
    width: 38rem;
    height: 61rem;
    position: absolute;
    overflow-y: scroll;
    top: 6.3rem;
    right: -5rem;
    padding: 1.1rem;
    box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
    -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
    -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-bottom: .1rem solid themed("border");
    @include mobile{
      margin-right: 2.5rem;
      width: 44rem;
      height: 85vh;
    }

    .heading {
      font-weight: bold;
      padding: 1rem;
      font-size: 1.8rem;
    }
    .search {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: .1rem solid themed("border");
      border-radius: 5rem;
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      -ms-border-radius: 5rem;
      -o-border-radius: 5rem;
      padding: .6rem 1rem;
      background-color: themed("iconBg");
            input 
{
        border: none;
        width: 20rem;
        outline: none;
        background-color: transparent;
        color: themed("textColor");
        &::placeholder {
          color: themed("textColor");
        }
      }
      &:hover {
        background-color: transparent;
      }
    }

    .chat-list {
      border-top: .1rem solid themed("border");
      margin: 1.5rem 0rem;
      .user {
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        &:hover {
          background: themed("hvr");
          color: darkblue;
          border-radius: .5rem;
          -webkit-border-radius: .5rem;
          -moz-border-radius: .5rem;
          -ms-border-radius: .5rem;
          -o-border-radius: .5rem;
          cursor: pointer;
}

        .userPic {
          display: flex;
          align-items: center;
          gap: 1rem;
          position: relative;
          .online {
            height: 1.1rem;
            width: 1.1rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: limegreen;
            position: absolute;
            bottom: 0;
            left: 3rem;
          }
          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            object-fit: cover;
          }

          P {
            color: themed("textColorSoft");
            font-size: 1.2rem;
            small {
              color: themed("textColorSoft");
            }
          }
        }
        .userInfo {
          display: flex;
          flex-direction: column;
          .user-name {
            font-weight: bold;
            color: themed("textColor");
            font-size: 1.6rem;
            width: 20rem;
            overflow: hidden;
          }
          .user-mesg {
            color: themed("textColorSoft");
            width: 25rem;
            overflow: hidden;
            height: 2rem;
          }
        }
      }
    }
  }
}
