@import "../../style.scss";

.groups {
  @include themify($themes) {
    background-color: themed("bgSoft");
    .groups-container {
      top: 7rem;
      height: calc(100vh - 7rem);
      display: flex;
      color: themed("textColor");

      .g-left-side {
        margin: 1rem 0rem 1rem 1rem;
        flex: 3;
        padding: 2rem;
        background-color: themed("bg");
        box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        -webkit-border-radius: 0.5rem 0rem 0rem 0.5rem;
        -moz-border-radius: 0.5rem 0rem 0rem 0.5rem;
        -ms-border-radius: 0.5rem 0rem 0rem 0.5rem;
        -o-border-radius: 0.5rem 0rem 0rem 0.5rem;
        .l-heading {
          font-size: 2.5rem;
          font-weight: bold;
          padding: 1rem;
        }
      }
      .g-right-side {
        margin: 1rem 1rem 1rem 0.5rem;
        flex: 11;
        padding: 2rem;
        overflow-x: scroll;
        background-color: themed("bg");
        box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        -webkit-border-radius: 0rem 0.5rem 0.5rem 0rem;
        -moz-border-radius: 0rem 0.5rem 0.5rem 0rem;
        -ms-border-radius: 0rem 0.5rem 0.5rem 0rem;
        -o-border-radius: 0rem 0.5rem 0.5rem 0rem;
      }
    }
  }
}
