@import "../../style.scss";

.friends {
  @include themify($themes) {
    background-color: themed("bgSoft");
    .friends-container {
      top: 7rem;
      height: calc(100vh - 7rem);
      display: flex;
      color: themed("textColor");

      .left-side {
        margin: 1rem 0rem 1rem 1rem;
        flex: 3;
        padding: 2rem;
        background-color: themed("bg");
        box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        -webkit-border-radius: 0.5rem 0rem 0rem 0.5rem;
        -moz-border-radius: 0.5rem 0rem 0rem 0.5rem;
        -ms-border-radius: 0.5rem 0rem 0rem 0.5rem;
        -o-border-radius: 0.5rem 0rem 0rem 0.5rem;
        .heading-f {
          font-size: 2.5rem;
          font-weight: bold;
          padding: 1rem;
        }
        .item-active {
          font-size: 1.7rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.8rem 2rem;
          text-decoration: none;
          margin: 1rem 0rem 1rem 0rem;
          color: themed("textColor");
          background: themed("hvr");
          color: darkblue;
          border-radius: 0.5rem;
          -webkit-border-radius: 0.5rem;
          -moz-border-radius: 0.5rem;
          -ms-border-radius: 0.5rem;
          -o-border-radius: 0.5rem;
        }
        .item {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.8rem 2rem;
          cursor: pointer;
          text-decoration: none;
          color: themed("textColor");

          span {
            font-size: 1.7rem;
          }

          &:hover {
            background: themed("hvr");
            color: darkblue;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
          }
        }
      }
      .right-side {
        margin: 1rem 1rem 1rem 0.5rem;
        flex: 11;
        padding: 2rem;
        overflow-x: scroll;
        background-color: themed("bg");
        box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        -webkit-border-radius: 0rem 0.5rem 0.5rem 0rem;
        -moz-border-radius: 0rem 0.5rem 0.5rem 0rem;
        -ms-border-radius: 0rem 0.5rem 0.5rem 0rem;
        -o-border-radius: 0rem 0.5rem 0.5rem 0rem;
        .r-heading {
          padding: 1rem 0rem;
          font-weight: bold;
          font-size: 2rem;
        }
        .right_container {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .request {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            padding-bottom: 3rem;
            border-bottom: 0.1rem solid themed("border");
            .card {
              display: flex;
              gap: 1rem;
              flex-direction: column;
              height: 27.5rem;
              width: 22.5rem;
              padding: 1rem;
              background-color: themed("bgSoft");
              box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
              -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
              -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
              border-radius: 0.5rem;
              -webkit-border-radius: 0.5rem;
              -moz-border-radius: 0.5rem;
              -ms-border-radius: 0.5rem;
              -o-border-radius: 0.5rem;
              border: 0.1rem solid themed("border");
              .card_link {
                color: themed("textColor");
                text-decoration: none;
                img {
                  width: 22.5rem;
                  height: 17.2rem;
                  object-fit: cover;
                  border-radius: 0.5rem;
                  -webkit-border-radius: 0.5rem;
                  -moz-border-radius: 0.5rem;
                  -ms-border-radius: 0.5rem;
                  -o-border-radius: 0.5rem;
                  margin-bottom: .6rem;
                }
                span {
                  font-weight: bold;
                  font-size: 1.6rem;
                }
              }
              button {
                padding: 0.5rem;
                font-weight: bold;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
              }
              .btn-c {
                color: white;
                background-color: #5271ff;
              }
              .btn-d {
                background-color: themed("iconBg");
                color: themed("textColor");
              }
            }
          }
          .suggest {
            .suggest-heading {
              padding: 1.5rem 0rem;
              font-weight: bold;
              font-size:2rem;
            }
            .suggest-container {
              display: flex;
              gap: 1rem;
              flex-wrap: wrap;
              padding-bottom: 3rem;
              border-bottom: 0.1rem solid themed("border");
              //it must be change..
              .card {
                display: flex;
                gap: 1rem;
                flex-direction: column;
              height: 27.5rem;
              width: 22.5rem;
                padding: 1rem;
                background-color: themed("bgSoft");
                box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
                -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
                -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
                border: .1rem solid themed("border");
                .card_link {
                  color: themed("textColor");
                  text-decoration: none;
                  img {
                  width: 22.5rem;
                  height: 17.2rem;
                    object-fit: cover;
                    border-radius: 0.5rem;
                    -webkit-border-radius: 0.5rem;
                    -moz-border-radius: 0.5rem;
                    -ms-border-radius: 0.5rem;
                    -o-border-radius: 0.5rem;
                    margin-bottom: .6rem;
                  }
                  span {
                    font-weight: bold;
                    font-size: 1.6rem;
                  }
                }
                button {
                  padding: 0.5rem;
                  font-weight: bold;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  border-radius: 0.5rem;
                  -webkit-border-radius: 0.5rem;
                  -moz-border-radius: 0.5rem;
                  -ms-border-radius: 0.5rem;
                  -o-border-radius: 0.5rem;
                }
                .btn-c {
                  color: white;
                  background-color: #5271ff;
                }
                .btn-d {
                  background-color: themed("iconBg");
                  color: themed("textColor");
                }
              }
            }
          }
        }
      }
    }
  }
}
