@import "../../style.scss";

.notifications {
  @include themify($themes) {
    z-index: 999;
    background-color: themed("bg");
    color: themed("textColor");
    width: 38rem;
    height: 60rem;
    position: absolute;
    overflow: scroll;
    top: 6.3rem;
    right: -5rem;
    padding: 1.1rem;
    box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
    -webkit-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
    -moz-box-shadow: 0rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-bottom: .1rem solid themed("border");
    .heading
{
      padding: 0rem 1.5rem;
      font-weight: bold;
    }
    .notification {
      border-top: .1rem solid themed("border");
      margin: 1.5rem 0rem;
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        gap: 1rem;

        &:hover {
          background: themed("hvr");
          color: darkblue;
          border-radius: .5rem;
          -webkit-border-radius: .5rem;
          -moz-border-radius: .5rem;
          -ms-border-radius: .5rem;
          -o-border-radius: .5rem;
          cursor: pointer;
}
        .userInfo {
          display: flex;
          align-items: center;
          gap: 1rem;
          position: relative;

          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            object-fit: cover;
          }

          P {
            color: themed("textColorSoft");
            font-size: 1.2rem;

            span {
              font-weight: bold;
              color: themed("textColor");
            }
            small {
              color: themed("textColorSoft");
            }
          }
        }
      }
    }
  }
}
