@import "../../style.scss";

.comments {
  @include themify($themes) {
    padding: 1.4rem;
    /*box-shadow: 1rem 2rem 12rem -2rem rgba(9, 11, 13, 0.51);
    -webkit-box-shadow: 1rem 2rem 12rem -2rem rgba(9, 11, 13, 0.51);
    -moz-box-shadow: 1rem 2rem 12rem -2rem rgba(9, 11, 13, 0.51);
    */
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: themed("bg");
    height: 40rem;
    padding: 3rem;
    overflow: scroll;
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      margin: 2rem 0;

      input {
        flex: 5;
        padding: 1rem;
        border: .1rem solid themed("border");
        background-color: transparent;
        color: themed("textColor");
        outline: none;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        &::placeholder {
          color: themed("textColor");
        }
      }
      button {
        border: none;
        background-color: #5271ff;
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        color: white;
      }
    }
    .comment {
      margin: 3rem 0rem;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      .info {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        align-items: flex-start;
        span {
          font-weight: bold;
          font-size: 1.5rem;
        }
        p {
          color: themed("textColorSoft");
          font-size: 1.4rem;
        }
      }
      .date {
        flex: 1;
        align-self: center;
        color: gray;
        font-size: 1.2rem;
      }
    }
  }
}
