@import "../../style.scss";

.gaming {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: themed("bgSoft");
    top: 7rem;
    height: calc(100vh - 7rem);
    color: themed("textColor");
    position: sticky;
  }
}
