@import "../../style.scss";

.rightBar {
  @include themify($themes) {
    @include hideScrollbar;
    @include mobile {
      display: none;
    }
    position: sticky;
    top: 7rem;
    height: calc(100vh - 5.5rem);
    overflow: scroll;
    background-color: themed("bgSoft");
    .container {
      padding: 1rem;
      .item {
        background-color: themed("bg");
        box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -webkit-box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        -moz-box-shadow: 0.1rem 0.2rem 1.2rem -0.2rem rgba(9, 11, 13, 0.51);
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        .heading {
          margin-left: 1rem;
          font-weight: bold;
          color: themed("textColor");
          font-size: 1.5rem;
        }
        span {
          font-weight: bold;
          color: themed("textColor");
        }
        .suggestions {
          border-top: 0.1rem solid themed("border");
          border-bottom: 0.1rem solid themed("border");
          margin: 1.5rem 0rem;
          padding: 0.5rem;

          .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem;
            gap: 1rem;
            position: relative;
            cursor: pointer;
            font-size: 1.2rem;
            .userInfo {
              display: flex;
              align-items: center;
              gap: 1rem;

              img {
                width: 4rem;
                min-width: 4rem;
                height: 4rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                object-fit: cover;
              }
            }
            .buttons {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              button {
                border: none;
                padding: 0.3rem 0.5rem;
                font-weight: 400;
                cursor: pointer;
                border-radius: 0.3rem;
                -webkit-border-radius: 0.3rem;
                -moz-border-radius: 0.3rem;
                -ms-border-radius: 0.3rem;
                -o-border-radius: 0.3rem;
                font-size: 1.2rem;
                /*&:first-child;
                  {
                  background-color: #e2e2e7;
                }
                &:last-child {
                  background-color: #443f3f81;
                } */
              }
            }
          }
        }
        .latest-activities {
          border-top: 0.1rem solid themed("border");
          border-bottom: 0.1rem solid themed("border");
          margin: 1.5rem 0rem;
          padding: 0.5rem;
          .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            gap: 1rem;

            &:hover {
              background: themed("hvr");
              color: darkblue;
              border-radius: 0.5rem;
              -webkit-border-radius: 0.5rem;
              -moz-border-radius: 0.5rem;
              -ms-border-radius: 0.5rem;
              -o-border-radius: 0.5rem;
              cursor: pointer;
            }
            .userInfo {
              display: flex;
              align-items: center;
              gap: 1rem;
              position: relative;

              img {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                object-fit: cover;
              }

              P {
                color: themed("textColorSoft");
                font-size: 1.2rem;

                span {
                  font-weight: bold;
                  color: themed("textColor");
                  font-size: 1.5rem;
                }
                small {
                  color: themed("textColorSoft");
                }
              }
            }
          }
        }

        .online-friends {
          border-top: 0.1rem solid themed("border");
          border-bottom: 0.1rem solid themed("border");
          margin: 1.5rem 0rem;
          padding: 0.5rem;
          .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            gap: 1rem;

            &:hover {
              background: themed("hvr");
              color: darkblue;
              border-radius: 0.5rem;
              -webkit-border-radius: 0.5rem;
              -moz-border-radius: 0.5rem;
              -ms-border-radius: 0.5rem;
              -o-border-radius: 0.5rem;
              cursor: pointer;
            }
            .userInfo {
              display: flex;
              align-items: center;
              gap: 1rem;
              position: relative;

              img {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                object-fit: cover;
              }

              .online {
                height: 1.1rem;
                width: 1.1rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background-color: limegreen;
                position: absolute;
                bottom: 0;
                left: 3rem;
              }
              span {
                font-weight: bold;
                color: themed("textColor");
                font-size: 1.2rem;
              }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        scrollbar-width: none;
        display: none;
      }
    }
  }
}
